<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Donate in Bangladesh | Dashboard</title>

    <!-- Core CSS - Include with every page -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Donation in Bangladesh</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Taksir</strong>
                                    <span class="pull-right text-muted">
                                        <em>An hour ago</em>
                                    </span>
                                </div>
                                <div>Hi, I want to donate. Are you interested?</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Saeed</strong>
                                    <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                                </div>
                                <div>Hi, I want to donate. Are you interested?</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Muntakim</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Hi, I want to donate. Are you interested?</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="message.html">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
               
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="feedback.html">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Feedback
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="message.html">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> New Message
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                       
                        
                       
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="profile.html"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="update.html"><i class="fa fa-gear fa-fw"></i> Update Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Deactivate Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="unregistered/home.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                  
                    <li>
                        <a href="my_donation.html"><i class="fa fa-table fa-fw"></i> My donations</a>
                    </li>
                    <li>
                        <a href="requests.html"><i class="fa fa-table fa-fw"></i> Show Donation Requests</a>
                    </li>
                    <li>
                        <a href="donations.html"><i class="fa fa-table fa-fw"></i> Show Donations</a>
                    </li>
                    <li>
                        <a href="users.html"><i class="fa fa-table fa-fw"></i> Show Users list</a>
                    </li>
                    <li>
                        <a href="request_donation.html"><i class="fa fa-edit fa-fw"></i> Request For donation</a>
                    </li>
                    <li>
                        <a href="post_donation.html"><i class="fa fa-edit fa-fw"></i> Post a donation</a>
                    </li>
                    <li>
                        <a href="message.html"><i class="fa fa-edit fa-fw"></i> Messages</a>
                    </li>
                  
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Reports</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
					<div form-group">
						<label>
							Select A donation
						</label>
						<select class="form-control" style="width:500px">
							<option selected="selected">---------</option>
							<option>Help a child </option>
							<option>Need relief</option>
						</select>
						</br>
						<span class="pull-right text-muted">
							80% Complete
						</span>
						<div class="progress progress-striped active">
							<div class="progress-bar progress-bar-primary" style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar">
								<span class="sr-only">
									75% Complete 
								</span>
							</div>
						</div>
					</div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Summary
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<table border="0px">
								<tbody>
									<tr>
										<td>Name of the Donee: &nbsp;&nbsp;&nbsp;</td><td><a href="profile.html">Taksir</a></td>
									</tr>
									<tr>
										<td>Donation Type:</td><td> Money</td>
									</tr>
									<tr>
										<td>Donated on:</td><td> 13th January,2014	</td>
									</tr>
									<tr>
										<td>Total donated :</td><td> 20000 Tk	</td>
									</tr>
									<tr>
										<td>Accounted for: </td><td> 15000 Tk</td>
									</tr>
								</tbody>
							</table>
                         
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Reports
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
								 <a class='list-group-item feed'>
										<div class="media">
											
											<div class="media-body">
												<table width="60%">
													<tbody>
														<tr>
															<td>Amount Spent</td><td>5000 Tk</td>
														</tr>
														<tr>
															<td>Submitted on</td><td>5 Januray, 2014</td>
														</tr>
														<tr>
															<td>Description </td><td>Spent the money for buying books.</td>
														</tr>
														<tr>
															<td>Supporting documents</td><td><a href="#">Click here to download</a></td>
														</tr>
													</tbody>
												</table>
												<span class="pull-right text-muted small">
													<em>read</em>
												</span>
												
											</div>
											</br>
										</div>

									</a>
							 <a class='list-group-item feed'>
                                    <div class="media">
                                        
                                        <div class="media-body">
											<table width="60%">
												<tbody>
													<tr>
														<td>Amount Spent</td><td>10000 Tk</td>
													</tr>
													<tr>
														<td>Submitted on</td><td>8 Januray, 2014</td>
													</tr>
													<tr>
														<td>Description </td><td>Spent the money for buying foods.</td>
													</tr>
													<tr>
														<td>Supporting documents</td><td><a href="#">Click here to download</a></td>
													</tr>
												</tbody>
											</table>
                                            <span class="pull-right text-muted small">
                                                <em>unread</em>
                                            </span>
                                            
                                        </div>
                                        </br>
                                    </div>

                                </a>
                          </br>
                          </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="js/demo/dashboard-demo.js"></script>

</body>

</html>
