{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
    <div class="col-lg-8">
        <div class="row" style="padding: 10px 10px 10px 10px;">
            <div>

                <h3 style="text-align: center;"><strong>Update profile</strong></h3>

                <br>

                <br>
                <hr>


                <form action="/update" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for form_element in update_form %}
                    <div class="form-group">

                        {{ form_element.label_tag }}
							
                        {% render_field form_element class+="form-control" %}

                        {{ form_element.error_messages }}

                        {{ form_element.help_text }}


                    </div>
                    {% endfor %}

                    {{ update_form.non_field_errors }}

                    <button type="submit" class="btn btn-default pull-right">Post a donation</button>

                </form>

{#                {{ update_form }}#}

                <br>
                <br><br><br><hr>
            </div>
        </div>

    </div>

{% endblock %}


