{% extends 'base.html' %}

{% block content %}



<div class="col-lg-12">
	<div class="row" style="padding: 10px 10px 10px 10px;">
		<div>

			<h3 style="text-align: center;">
				<strong>Donations</strong>
				&nbsp;
			</h3>
			<hr>
			<br>
    {% for profile in user_list %}

        
            <div class="media">
                
                <div class="media-body">
					<a href="/profile/{{ profile.username }}" class="list-group-item">
					<img class="pull-left media-object" alt="User's image not provided" style="width: 64px; height: 64px; padding-right:100px;" src="{{MEDIA_URL}}{{ profile.userprofile.image }}" >		
                    Name: {{  profile.userprofile.get_full_name }}
                    <br>
                    Type: {{ profile.userprofile.donor_donee_type }}
                    <br>
                    Location: {{ profile.userprofile.country }}
                    <br>
                    More...
                    </a>
                </div>
                <br>
            </div>
        <hr>

    {% endfor %}


            </div>
        </div>

    </div>


{% endblock %}
