<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Donate in Bangladesh | Dashboard</title>

    <!-- Core CSS - Include with every page -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Donation in Bangladesh</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Taksir</strong>
                                    <span class="pull-right text-muted">
                                        <em>An hour ago</em>
                                    </span>
                                </div>
                                <div>Hi, I want to donate. Are you interested?</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Saeed</strong>
                                    <span class="pull-right text-muted">
                                        <em>Today</em>
                                    </span>
                                </div>
                                <div>Hi, I want to donate. Are you interested?</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>Muntakim</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Hi, I want to donate. Are you interested?</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="message.html">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
               
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="feedback.html">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Feedback
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="message.html">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> New Message
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                       
                        
                       
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="profile.html"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="update.html"><i class="fa fa-gear fa-fw"></i> Update Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Deactivate Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="unregistered/home.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                  
                    <li>
                        <a href="my_donation.html"><i class="fa fa-table fa-fw"></i> My donations</a>
                    </li>
                    <li>
                        <a href="requests.html"><i class="fa fa-table fa-fw"></i> Show Donation Requests</a>
                    </li>
                    <li>
                        <a href="donations.html"><i class="fa fa-table fa-fw"></i> Show Donations</a>
                    </li>
                    <li>
                        <a href="users.html"><i class="fa fa-table fa-fw"></i> Show Users list</a>
                    </li>
                    <li>
                        <a href="request_donation.html"><i class="fa fa-edit fa-fw"></i> Request For donation</a>
                    </li>
                    <li>
                        <a href="post_donation.html"><i class="fa fa-edit fa-fw"></i> Post a donation</a>
                    </li>
                    <li>
                        <a href="message.html"><i class="fa fa-edit fa-fw"></i> Messages</a>
                    </li>
                  
                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Donation Detail</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Donee Information
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<table border="0px">
								<tbody>
									<tr>
										<td>Name of the Donee: &nbsp;&nbsp;&nbsp;</td><td><a href="profile.html">Ashiqul Mostofa</a></td>
									</tr>
									<tr>
										<td>Country :</td><td> Bangladesh	</td>
									</tr>
									<tr>
										<td>Granted Donation: </td><td>3 times</td>
									</tr>
								</tbody>
							</table>
                            <h5></h5>
                            <h5></h5>
                            <h5></h5>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Request Information
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
							<table border="0px">
								<tbody>
									<tr>
										<td>Type of Request: </td><td>Money</td>
									</tr>
									<tr>
										<td>Required amount: </td><td> 40,000 Tk</td>
									</tr>
									<tr>
										<td>Preferred donation method: &nbsp;&nbsp;&nbsp;</td><td>Bank transfer</td>
									</tr>
									<tr>
										<td>Interested sectors:</td><td>Relief</td>
									</tr>
									<tr>
										<td>Reason:</td><td>People are suffering from cold. They need help with winter clothing.</td>
									</tr>
									<tr>
										<td>Supporting documents :</td><td><a href="#">Some file</a></td>
									</tr>
								</tbody>
							</table>
							</br>
							</br>
							</br>
                            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#confirm">Make verified </button>
                            <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#decline">Make declined</button>
                             <button class="btn btn-default pull-right" data-toggle="modal" data-target="#priority"> Change priority(admin only)</button>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>

    <div class="modal fade" id="confirm">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Verify donation</h4>
		  </div>
		  <div class="modal-body">
			<p>Donation was made verified. The user will be notified. </p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


    <div class="modal fade" id="decline">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Verify donation</h4>
		  </div>
		  <div class="modal-body">
			<p>Donation request has been declined. It will be deleted from database. The user will be notified.</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


    <div class="modal fade" id="priority">
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Change priority</h4>
		  </div>
		  <div class="modal-body">
			<p>
				<div class="form-group">
					<label>Priority</label>
					<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
					</select>
				</div> 
			</p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-default" data-dismiss="modal">Change</button>
			
		  </div>
		</div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

    
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="js/demo/dashboard-demo.js"></script>

</body>

</html>
